TDD/테스트 주도 개발 예제코드/gradle/wrapper/gradle-wrapper.properties
TDD/테스트 주도 개발 예제코드/gradle/wrapper/gradle-wrapper.jar

Java/JavaProject/.gradle
Java/JavaProject/.idea
Java/JavaProject/build
Java/JavaProject/out/*

Kotlin/KotlinPlayGround/.gradle
Kotlin/KotlinPlayGround/.idea
Kotlin/KotlinPlayGround/build
Kotlin/KotlinPlayGround/out/*

Algorithm/coding-test/.gradle
Algorithm/coding-test/.idea
Algorithm/coding-test/build
Algorithm/coding-test/out/*
